body.admin-body {
  font-family: 'Montserrat', sans-serif;
  background: #111;
  color: white;
  margin: 0;
}
/*om mijn login gegevens mooi in het midden te krijgen*/
.login-container {
  width: 350px;
  margin: 100px auto;
  background: #222;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.login-form input {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.admin-header {
  background-color: #222;
  color: white;
  padding: 20px;
  display: flex;              /* zet titel + nav op één lijn */
  justify-content: space-between; /* titel links, nav rechts */
  align-items: center;        /* mooi verticaal uitgelijnd */
}
